$xxl:1600px;
$extra:1200px;
$large:960px;
$medium:760px;
$small:480px;
$tiny:320px;

@mixin responsive($size) {
  @media screen and (max-width: $size){
    @content;
  }
}

@mixin antiresponsive($size) {
  @media screen and (min-width: $size){
    @content;
  }
}

$responsive:$large;
$nav-height:10vh;
$projectwidth:70vw;
$pageHeight:25vh;
$responsivefontsize:10vw;
$responsivep:1.3vh;

$project-width:718px;
// @include responsive($medium){
//   $project-width:90vw;
// }

*{
    margin: 0;
    font-family: 'montserrat';
    font-weight: 100;
    font-size: 18px;
    scroll-behavior: smooth;
    text-align: justify;
    scroll-padding-top: 10vh;
    @include responsive($responsive){
    scroll-padding-top: 8vh;

    }

}

body{
}

strong{
    font-weight: 400;
}

hr{
  // display: none;
  width:50vh ; 
  border: 1px solid white; 
  margin-top: 4vw; 
  opacity: 0.3;
  @include responsive($responsive){
    // position: fixed;
  // margin-top: -12vh; 
  bottom: 10vh;
  width: 50vw;
  position: absolute;
  }
}
@mixin transition($prop:all){
    transition: $prop 300ms ease-in-out;

} 

.material-symbols-outlined {
    transform: scale(3);
    text-align: center;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48;
  &:hover{
    font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
  }
}
  
.footer {
    z-index: 20;
    height: 15vh;
    background: #556;
    padding: 1vw;
    display: flex;
    flex-direction: row-reverse;
    @include responsive($medium){
    height: 14.2vh;
    padding: 1vh;
    justify-content: center;
    }
    &__icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 17vw;
        height: 4.8vh;
        // background-color: #f0f;
        @include responsive($medium){
        justify-content: space-evenly;
        width: 100%;
        }
    }
}

.header {
    position: fixed;
    z-index: -1;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image:url("https://uploads-ssl.webflow.com/5fef75ee59a7eab47346a402/622149efbdd33169b7883b46_Momentum_-Kinesis--Sync--Rise-Left-and-Right-in-Sunset-Bronze_03.jpg");
    background-size: 250vh;
    background-repeat: no-repeat;
    object-fit:cover;
    @include responsive($responsive){
    }
    &__background{
        padding: 100px;
        background: linear-gradient(45deg, rgba(#00f,.3), rgba(#f0f,.3), rgba(#f60,.3), rgba(#ff0,0.3) 85.71%),;
        display: flex;
            align-items: center;
            width: 100%;
            height: calc(100% - 200px);
            
      @include responsive($responsive){ 
        padding-left: 0;     
        justify-content: center;
        flex-wrap: wrap;
        
      }
    }
    &__container{
        display: flex;
        flex-wrap: wrap;
        width: 38.3vw;
        @include responsive($responsive){
          width: 100%;
          padding: 10px;
        }
    }
    &__h1{
        font-family: 'abril fatface';
        padding: 5px 20px;
        font-size: 100px;
        font-size: 5.1vw;
        padding: 0.35vw 1vw;
        color: white;
        background-color: #000000;
        display: inline;
      @include responsive($large){
        font-size: 9.5vw;
        padding: 1.5vw 2vw;
      }
    }
    &__h2{
        z-index: 1;
        margin-bottom: -1.55vw;
        padding: 0.55vw 1vw;
        font-size: 2.55vw;
        color: white;
        background-color: #000000;
        display: inline;
      @include responsive($large){
        font-size: 4.8vw;
        padding: 1vw 2vw;
        margin-bottom: -4vw;
      }

    }
  &__li {
  }
  &__nav {
  }
  &__ul {
  }
  &__icons{
    opacity: 0;
    // background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 5.5vw;
      margin-top: 1vw;
      margin-left: 1vw;
      padding: 0.5vw 1vw;  
      // margin-left: auto;
      @include responsive($responsive){
        position: fixed;
        bottom: 0;
        right: 2vw;
        opacity: 1;
        width: 22vw;
        padding: 1vw 0;  
        // margin-left: 50vw;
    }
  }
  &__img{
    object-fit: cover;
    width: 2vw;
    @include responsive($responsive){
      width: 4.5vh;
    }
    &--linkedin {
        filter: brightness(10);
        object-fit: cover;
        object-position: 0px 0px;
    }
}
}

.nav{
    @include transition(background-color);
    z-index: 2;
    color: white;
    background-color:rgba( #000000,1);
    padding: 0 30px;
    height: $nav-height;
    width: 96vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include responsive($medium){
     justify-content: center;
     padding: 0;
     width: 100vw;
     height: 8vh;
     z-index: 10;
    }
    
    &__a{
        text-decoration: none;
    }
    &__icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        @include responsive($medium){
          position: fixed;
          left: 3vw;
          width: 15vw;
        }
    }
    &__img{
        object-fit: cover;
    width: 40px;
          opacity: 0.5;
          &:hover{
            opacity: 1;
          }
          &--linkedin {
            filter: brightness(10);
            object-fit: cover;
            object-position: 0px 0px;
        }
        &--fcc {
            margin-left: -10px;
            width: 45px;
            object-fit: cover;
            object-position: 0px 0px;
        }
        @include responsive($medium){
          width: 30px;
        }
    }
    &__logo{
        object-fit: cover;
        height: 40px;
        &:hover{
          opacity: 0.5;
        }
        @include responsive($medium){
          height: 30px;
          // background-color: #f0f;
        }
    }
    &__ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;
        @include responsive($medium){
          visibility: hidden;
          padding: 0;
          position: fixed;
          top: 8vh;
          background:rgba($color: #000000, $alpha: 0.8) ;
          // filter: blur(2px) saturate(100%) brightness(100%);

          min-width: 100vw;
          flex-wrap: wrap;
        }
        @include responsive($large){
        width: 50vw;
        }

    }
    &__li{
        list-style:none;
        font-weight: 400;
            color: rgba( #fff, 0.5);
        &:hover{
            cursor: pointer;
            color: white;
          }
        @include responsive($large){
          font-size: 2vw;
        }
        @include responsive($medium){
          width: 100vw;
          height: 8vh;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: rgba(#fff,0.3) solid 1px;
          font-size: 2vw;
        }
    }
    &__group{
      position: fixed;
      right: 3.5vw;
      top:2.5vh;
      display: none;
      @include responsive($medium){
        display: block;
      }
    }
    &__button{
      background-color: transparent;
      color: #fff;
      border: none;
      // background-color: #f0f;
      &--open{
        transform: rotate(90deg) scaleY(150%);
      }
      &--close{
        transform: scale(200%) scaleX(150%);
        margin-right: 1.4vw;
        padding-bottom: 0.5vh;
        // font-size: 5vw;
      }
      &:hover{
        cursor: pointer;
      }
    }
    
}
.projects {
    bottom: -100px;
    display: grid;
    grid-template-rows: 12vh 70vh 10vh;
    justify-content: center;
    // max-width: 100vw;
    background-color: #fff;
    @include responsive($medium){
      height: 92vh;
      top: 8vh;
    }
    @include responsive($large){
      max-width: 90vh;
      flex-wrap: wrap;
    grid-template-rows: 10vh 1fr 10vh;
    }

    &__a{
        color: transparent;
        @include transition();
        @include responsive($large){
          // background-color: #f0f;          
          max-width: $projectwidth;
          max-height: $pageHeight;
        }
        &--hover{
            filter: blur(2px) saturate(100%) brightness(100%);
            color: #fff;
        }
    }

    &__all{
      color: #f60;
      opacity: 0.5;
      width: 1vw;
      transform: scale(400%) translateY(-0.5vh) translateX(0.5vh);
      &:hover{
        cursor: pointer;
      }
      @include responsive($responsive){
        transform: scale(200%) translateY(-0.2vh);
      }
    }

    &__circles{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    &__circle{
        @include transition();
        background-color: black;
        border-radius: 50%;
        margin: 0 20px;
        @include responsive($responsive){
          // margin-bottom: 5vh;
        }
        
        &--0{
            $radius:25px;
            height: $radius;
            width: $radius;
            @include responsive($responsive){
              $radius:15px;
              height: $radius;
              width: $radius;
            }
        }
        &--1{
            height: 20px;
            width: 20px;
            @include responsive($responsive){
              $radius:10px;
              height: $radius;
              width: $radius;
              
            }
        }
        &--2{
            height: 15px;
            width: 15px;
            @include responsive($responsive){
              $radius:5px;
              height: $radius;
              width: $radius;
              
            }
        }
    }
    &__clickhere{
        @include transition();
        z-index: 20;
        width: 713px;
        height: 418px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 50px;
        color: transparent;        
        border-radius:30px;
        @include responsive($large){
          max-width: $projectwidth;
          max-height: $pageHeight;
        }
        &--hover{
            color: #fff;
            background: rgba(black, 0.7);
        }
    }
    &__container {
    height: 420px;
    width: calc((720px *2) + 95px );
        display: flex;
        overflow-x: hidden;
        
    @include responsive($large){
      // background-color: #f0f;
      height:67.5vh;
      max-width: $projectwidth;
    }
    }
    &__display {
    display: flex;
    justify-content: space;
    align-items: center;
    width: 100%;
    margin:5vw 0;
    @include responsive($large){
      // background-color: yellow;
      max-width: 100vw;
    }

    }
    &__h2 {
        width: 100%;
        text-align: center;
        font-size: 95px;
        &--strong {
        font-size: 100px;
        font-family: 'abril fatface';
        }
      @include responsive($large){
        padding-top: 2vh;
        font-size: 10vw;
        &--strong{
          font-size: $responsivefontsize;
        }
      }

    }
    &__h3 {
    font-size: 50px;
        margin: 0;
        margin-bottom: 10px;
        width: 720px;
        @include responsive($large){
          // margin-bottom: 25px;
          font-size: 3vh;
        }
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        width: 120px;
        // height: 60px;
        @include responsive($responsive){
          width: $projectwidth;
          // background-color: #f0f;
          height: 10vh;
          align-items: center;
          justify-content: space-evenly;
        }
    }
    &__img {
            @include transition;
            object-fit: cover;
            $size:50px;
            height: $size;
            width: $size;
            @include responsive($responsive){
              $size:4vh;
              height: $size;
              width: $size;
            }
        &--netlify {
            object-fit: cover;
            object-position: 0px 0px;
            $size:50px;
            height: $size;
            width: $size;
            @include responsive($responsive){
              $size:4vh;
              height: $size;
              width: $size;
            }
        }
        &:hover{
            height: 60px;
            width: 60px;
            
        }
    }
    &__infobox {
      display: flex;
      // background-color: #f60;
      flex-direction: column;
      justify-content:space-between;
      max-width:720px;
      // height: 420px;
      @include responsive($large){
        padding-top: 1.5vh;
        flex-grow: 1;
        margin-bottom: -2vh;
        // background-color: green;
        max-width: $projectwidth;
        // min-height: 46.5vh;
        // justify-content: space-between;
      }
    }
&__new{    
    z-index: 20;
    @include transition();
  color: transparent;
  &--hover{
    color: white;
  }
}
  &__p {
    font-weight: 400;
    width: calc(100% - (20px * 2));
    // background-color: green;
    @include responsive($large){
      // background-color: #f60;
      flex-grow: 1;
      width: 100%;
      font-size: 1.3vh;
      // height: 100px;
      // font-size: $responsivep;
    }
  }
  &__page{
    color: transparent;
    border:1px solid rgba($color: #000000, $alpha: 0.5);
    overflow:hidden;
    max-width:718px;
    height:418px; 
    border-radius:30px;
    @include responsive($large){
      max-width: calc($projectwidth - 2px);
      max-height: calc($pageHeight - 1px);
    }
  }
  &__project {
    @include transition();
    transform: translateX(calc(0 * (-1 * ((720px *2) + 95px ))));
    display: flex;
    justify-content: space-between;
    min-width: calc((720px *2) + 95px );
    height: 420px;
    @include responsive($large){
      // background-color: red;
      flex-direction: column;
      justify-content: space-between;
      max-width: $projectwidth;
      min-height: 65vh;
    }
  }
  &__screenshot {
    overflow:hidden;
    min-width:$project-width;
    height:418px; 
    border-radius:30px;
    pointer-events: none;
    border: none;
    object-fit:fill;
    margin-right:95px ;
    @include responsive($large){
      // height: 40vh;
      max-width: $projectwidth;
    }

  }
  &__widget {
    @include transition;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    justify-content: center;
    line-height: 48px;
    $size:50px;
    width: $size;
    height: $size;
    margin: 0 5px;
    border: 1px solid rgba($color: #000000, $alpha: 0.0);
    border-radius: 50%;
    @include responsive($responsive){
      $size:8vw;
      width: $size;
      height: $size;
      font-size: 6vw;
      line-height: 8vw;
    }
    &:hover{
        border: 1px solid rgba($color: #000000, $alpha: 0.5);
    }
    &:active{
        @include transition();
        font-weight: 400;
        color:white;
        background-color: #000000;
    }
  }
}
.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    max-width: 100vw;
    background: #fff;
    @include responsive($medium){
      height: 75.6vh;
    }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 65vw;
    height: 35vh;
    @include responsive($responsive){
    height: 60vh;
    flex-wrap: wrap;
    }
  }
  &__h2 {
    font-family: 'abril fatface';
    font-size: 100px;
    @include responsive($large){
      font-size: 10vw;
    }
  }
  &__h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 3vh;
  }
  &__logo{
    margin: 5vh 2vh;
    height: 10vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  &__img {
    object-fit: contain;
    $size:8vw;
    width: $size;
    height: $size;
    @include responsive($responsive){
      $size:8vh;
      width: $size;
      height: $size;
    }
  }
  &--hover{
    opacity: 1;
  }
  
}
.who {
    opacity: 0;
    position: fixed;
    top: 10vh;
    z-index: -1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    max-width: 100vw;
    background: #000000;
    padding-top: 3vh;
    color: #fff;
    &--hover{
      opacity: 1;
    }
    @include responsive($medium){
      height: 92vh;
      top: 8vh;
    }
  &__container {
    // background-color: #00f;
    display: flex;
    align-items: center;
    width: 40vw;
    justify-content: space-around;
    @include responsive($responsive){
      // flex-wrap: wrap;
      flex-direction: column;
      width: 80vw;
      margin-bottom: 2vh;
    }
  }
  &__h2 {
    $size:6vw;
    font-size: $size;
    font-family: 'abril fatface';
    &--sans{
      font-size: calc($size - 0.6vw);        
      @include responsive($large){
        font-size: calc($responsivefontsize + 4.1vw);
      }
    }
    @include responsive($large){
      font-size: calc($responsivefontsize + 5vw);
    }
  }
  &__img {
    box-sizing: border-box;
    object-fit: cover;
    width: 8vw;
    border-radius: 50%;    
    @include responsive($responsive){
      width: calc($responsivefontsize + 20vw);
    }
  }
  &__p {
    width: 40vw;
    columns: 300px;
    column-gap: 50px;
    @include responsive($large){
      font-size:14px;
      font-weight: 400;
      width: 80vw;
      opacity: 0.5;
    }
  }
  &__paragraph{
    margin-top: 2vw;
    display: flex;
    align-items: center;
    @include responsive($large){
      margin-top: 0vh;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
