* {
  margin: 0;
  font-family: "montserrat";
  font-weight: 100;
  font-size: 18px;
  scroll-behavior: smooth;
  text-align: justify;
  scroll-padding-top: 10vh;
}
@media screen and (max-width: 960px) {
  * {
    scroll-padding-top: 8vh;
  }
}

strong {
  font-weight: 400;
}

.material-symbols-outlined {
  -webkit-transform: scale(3);
          transform: scale(3);
  text-align: center;
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 48;
}

.footer {
  z-index: 20;
  height: 15vh;
  background: #556;
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 760px) {
  .footer {
    height: 14.2vh;
    padding: 1vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 17vw;
  height: 4.8vh;
}
@media screen and (max-width: 760px) {
  .footer__icons {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
}

.header {
  position: fixed;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://uploads-ssl.webflow.com/5fef75ee59a7eab47346a402/622149efbdd33169b7883b46_Momentum_-Kinesis--Sync--Rise-Left-and-Right-in-Sunset-Bronze_03.jpg");
  background-size: 250vh;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__background {
  padding: 100px;
  background: linear-gradient(45deg, rgba(0, 0, 255, 0.3), rgba(255, 0, 255, 0.3), rgba(255, 102, 0, 0.3), rgba(255, 255, 0, 0.3) 85.71%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100% - 200px);
}
@media screen and (max-width: 960px) {
  .header__background {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 38.3vw;
}
@media screen and (max-width: 960px) {
  .header__container {
    width: 100%;
    padding: 10px;
  }
}
.header__h1 {
  font-family: "abril fatface";
  padding: 5px 20px;
  font-size: 100px;
  font-size: 5.1vw;
  padding: 0.35vw 1vw;
  color: white;
  background-color: #000000;
  display: inline;
}
@media screen and (max-width: 960px) {
  .header__h1 {
    font-size: 9.5vw;
    padding: 1.5vw 2vw;
  }
}
.header__h2 {
  z-index: 1;
  margin-bottom: -1.55vw;
  padding: 0.55vw 1vw;
  font-size: 2.55vw;
  color: white;
  background-color: #000000;
  display: inline;
}
@media screen and (max-width: 960px) {
  .header__h2 {
    font-size: 4.8vw;
    padding: 1vw 2vw;
    margin-bottom: -4vw;
  }
}
.header__icons {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 5.5vw;
  margin-top: 1vw;
  margin-left: 1vw;
  padding: 0.5vw 1vw;
}
@media screen and (max-width: 960px) {
  .header__icons {
    position: fixed;
    bottom: 0;
    right: 2vw;
    opacity: 1;
    width: 22vw;
    padding: 1vw 0;
  }
}
.header__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 2vw;
}
@media screen and (max-width: 960px) {
  .header__img {
    width: 4.5vh;
  }
}
.header__img--linkedin {
  -webkit-filter: brightness(10);
          filter: brightness(10);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

.nav {
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  z-index: 2;
  color: white;
  background-color: black;
  padding: 0 30px;
  height: 10vh;
  width: 96vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 760px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 100vw;
    height: 8vh;
    z-index: 10;
  }
}
.nav__a {
  text-decoration: none;
}
.nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}
@media screen and (max-width: 760px) {
  .nav__icons {
    position: fixed;
    left: 3vw;
    width: 15vw;
  }
}
.nav__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  opacity: 0.5;
}
.nav__img:hover {
  opacity: 1;
}
.nav__img--linkedin {
  -webkit-filter: brightness(10);
          filter: brightness(10);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
.nav__img--fcc {
  margin-left: -10px;
  width: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
@media screen and (max-width: 760px) {
  .nav__img {
    width: 30px;
  }
}
.nav__logo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 40px;
}
@media screen and (max-width: 760px) {
  .nav__logo {
    height: 30px;
  }
}
.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}
@media screen and (max-width: 760px) {
  .nav__ul {
    visibility: hidden;
    padding: 0;
    position: fixed;
    top: 8vh;
    background: rgba(0, 0, 0, 0.8);
    min-width: 100vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 960px) {
  .nav__ul {
    width: 50vw;
  }
}
.nav__li {
  list-style: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.nav__li:hover {
  cursor: pointer;
  color: white;
}
@media screen and (max-width: 960px) {
  .nav__li {
    font-size: 2vw;
  }
}
@media screen and (max-width: 760px) {
  .nav__li {
    width: 100vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: rgba(255, 255, 255, 0.3) solid 1px;
    font-size: 2vw;
  }
}
.nav__group {
  position: fixed;
  right: 3.5vw;
  top: 2.5vh;
  display: none;
}
@media screen and (max-width: 760px) {
  .nav__group {
    display: block;
  }
}
.nav__button {
  background-color: transparent;
  color: #fff;
  border: none;
}
.nav__button--open {
  -webkit-transform: rotate(90deg) scaleY(150%);
          transform: rotate(90deg) scaleY(150%);
}
.nav__button--close {
  -webkit-transform: scale(200%) scaleX(150%);
          transform: scale(200%) scaleX(150%);
  margin-right: 1.4vw;
  padding-bottom: 0.5vh;
}
.nav__button:hover {
  cursor: pointer;
}

.projects {
  bottom: -100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 12vh 70vh 10vh;
  grid-template-rows: 12vh 70vh 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}
@media screen and (max-width: 760px) {
  .projects {
    height: 92vh;
    top: 8vh;
  }
}
@media screen and (max-width: 960px) {
  .projects {
    max-width: 90vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-grid-rows: 10vh 1fr 10vh;
    grid-template-rows: 10vh 1fr 10vh;
  }
}
.projects__a {
  color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media screen and (max-width: 960px) {
  .projects__a {
    max-width: 70vw;
    max-height: 25vh;
  }
}
.projects__a--hover {
  -webkit-filter: blur(2px) saturate(100%) brightness(100%);
          filter: blur(2px) saturate(100%) brightness(100%);
  color: #fff;
}
.projects__circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}
.projects__circle {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: black;
  border-radius: 50%;
  margin: 0 20px;
}
.projects__circle--0 {
  height: 25px;
  width: 25px;
}
@media screen and (max-width: 960px) {
  .projects__circle--0 {
    height: 15px;
    width: 15px;
  }
}
.projects__circle--1 {
  height: 20px;
  width: 20px;
}
@media screen and (max-width: 960px) {
  .projects__circle--1 {
    height: 10px;
    width: 10px;
  }
}
.projects__circle--2 {
  height: 15px;
  width: 15px;
}
@media screen and (max-width: 960px) {
  .projects__circle--2 {
    height: 5px;
    width: 5px;
  }
}
.projects__clickhere {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 20;
  width: 713px;
  height: 418px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-size: 50px;
  color: transparent;
  border-radius: 30px;
}
@media screen and (max-width: 960px) {
  .projects__clickhere {
    max-width: 70vw;
    max-height: 25vh;
  }
}
.projects__clickhere--hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
}
.projects__container {
  height: 420px;
  width: 1535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}
@media screen and (max-width: 960px) {
  .projects__container {
    height: 67.5vh;
    max-width: 70vw;
  }
}
.projects__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space;
      -ms-flex-pack: space;
          justify-content: space;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 5vw 0;
}
@media screen and (max-width: 960px) {
  .projects__display {
    max-width: 100vw;
  }
}
.projects__h2 {
  width: 100%;
  text-align: center;
  font-size: 100px;
}
.projects__h2--strong {
  font-size: 100px;
  font-family: "abril fatface";
}
@media screen and (max-width: 960px) {
  .projects__h2 {
    padding-top: 2vh;
    font-size: 10vw;
  }
  .projects__h2--strong {
    font-size: 10vw;
  }
}
.projects__h3 {
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
  width: 720px;
}
@media screen and (max-width: 960px) {
  .projects__h3 {
    font-size: 3vh;
  }
}
.projects__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
}
@media screen and (max-width: 960px) {
  .projects__icons {
    width: 70vw;
    height: 10vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.projects__img {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50px;
  width: 50px;
}
@media screen and (max-width: 960px) {
  .projects__img {
    height: 4vh;
    width: 4vh;
  }
}
.projects__img--netlify {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
  height: 50px;
  width: 50px;
}
@media screen and (max-width: 960px) {
  .projects__img--netlify {
    height: 4vh;
    width: 4vh;
  }
}
.projects__img:hover {
  height: 60px;
  width: 60px;
}
.projects__infobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 720px;
}
@media screen and (max-width: 960px) {
  .projects__infobox {
    padding-top: 1.5vh;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: -2vh;
    max-width: 70vw;
  }
}
.projects__new {
  z-index: 20;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: transparent;
}
.projects__new--hover {
  color: white;
}
.projects__p {
  font-weight: 400;
  width: calc(100% - 40px);
}
@media screen and (max-width: 960px) {
  .projects__p {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    font-size: 1.3vh;
  }
}
.projects__page {
  color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
  max-width: 718px;
  height: 418px;
  border-radius: 30px;
}
@media screen and (max-width: 960px) {
  .projects__page {
    max-width: calc(70vw - 2px);
    max-height: calc(25vh - 1px);
  }
}
.projects__project {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 1535px;
  height: 420px;
}
@media screen and (max-width: 960px) {
  .projects__project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 70vw;
    min-height: 65vh;
  }
}
.projects__screenshot {
  overflow: hidden;
  min-width: 718px;
  height: 418px;
  border-radius: 30px;
  pointer-events: none;
  border: none;
  -o-object-fit: fill;
     object-fit: fill;
  margin-right: 95px;
}
@media screen and (max-width: 960px) {
  .projects__screenshot {
    max-width: 70vw;
  }
}
.projects__widget {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 48px;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
}
@media screen and (max-width: 960px) {
  .projects__widget {
    width: 8vw;
    height: 8vw;
    font-size: 6vw;
    line-height: 8vw;
  }
}
.projects__widget:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.projects__widget:active {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-weight: 400;
  color: white;
  background-color: #000000;
}

.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
  max-width: 100vw;
  background: #fff;
}
@media screen and (max-width: 760px) {
  .technologies {
    height: 75.6vh;
  }
}
.technologies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65vw;
  height: 35vh;
}
@media screen and (max-width: 960px) {
  .technologies__container {
    height: 60vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.technologies__h2 {
  font-family: "abril fatface";
  font-size: 100px;
}
@media screen and (max-width: 960px) {
  .technologies__h2 {
    font-size: 10vw;
  }
}
.technologies__h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 3vh;
}
.technologies__logo {
  margin: 5vh 2vh;
  height: 10vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.technologies__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 8vw;
  height: 8vw;
}
@media screen and (max-width: 960px) {
  .technologies__img {
    width: 8vh;
    height: 8vh;
  }
}
.technologies--hover {
  opacity: 1;
}

.who {
  opacity: 0;
  position: fixed;
  top: 10vh;
  z-index: -1;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  max-width: 100vw;
  background: #000000;
  padding-top: 3vh;
  color: #fff;
}
.who--hover {
  opacity: 1;
}
@media screen and (max-width: 760px) {
  .who {
    height: 92vh;
    top: 8vh;
  }
}
.who__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 960px) {
  .who__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80vw;
    margin-bottom: 2vh;
  }
}
.who__h2 {
  font-size: 6vw;
  font-family: "abril fatface";
}
.who__h2--sans {
  font-size: 5.4vw;
}
@media screen and (max-width: 960px) {
  .who__h2--sans {
    font-size: 15vw;
  }
}
@media screen and (max-width: 960px) {
  .who__h2 {
    font-size: 15vw;
  }
}
.who__img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  width: 8vw;
  border-radius: 50%;
}
@media screen and (max-width: 960px) {
  .who__img {
    width: 30vw;
  }
}
.who__p {
  width: 40vw;
  -webkit-columns: 300px;
     -moz-columns: 300px;
          columns: 300px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
@media screen and (max-width: 960px) {
  .who__p {
    font-size: 15px;
    width: 80vw;
  }
}
.who__paragraph {
  margin-top: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 960px) {
  .who__paragraph {
    margin-top: 0vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}