* {
  margin: 0;
  font-family: "montserrat";
  font-weight: 100;
  font-size: 18px;
  scroll-behavior: smooth;
  text-align: justify;
  scroll-padding-top: 10vh;
}

strong {
  font-weight: 400;
}

.footer {
  height: 30vh;
  background: #000000;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("https://uploads-ssl.webflow.com/5fef75ee59a7eab47346a402/622149efbdd33169b7883b46_Momentum_-Kinesis--Sync--Rise-Left-and-Right-in-Sunset-Bronze_03.jpg");
  background-size: 250vh;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__background {
  padding: 100px;
  background: linear-gradient(45deg, rgba(0, 0, 255, 0.3), rgba(255, 0, 255, 0.3), rgba(255, 102, 0, 0.3), rgba(255, 255, 0, 0.3) 85.71%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100% - 200px);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1000px;
}
.header__h1 {
  font-family: "abril fatface";
  padding: 5px 20px;
  font-size: 100px;
  color: white;
  background-color: #000000;
  display: inline;
}
.header__h2 {
  z-index: 1;
  margin-bottom: -30px;
  padding: 10px 20px;
  font-size: 50px;
  color: white;
  background-color: #000000;
  display: inline;
}
.nav {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 2;
  color: white;
  background-color: black;
  padding: 0 30px;
  height: 10vh;
  width: 96vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__a {
  text-decoration: none;
}
.nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 160px;
}
.nav__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
}
.nav__img--linkedin {
  -webkit-filter: brightness(10);
          filter: brightness(10);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
.nav__img--fcc {
  margin-left: -10px;
  width: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
.nav__logo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 40px;
}
.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 640px;
}
.nav__li {
  list-style: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.nav__li:hover {
  cursor: pointer;
  color: white;
}

.projects {
  padding-top: 95px;
  bottom: -100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 620px 50px;
  grid-template-rows: 50px 620px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 90vh;
}
.projects__circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}
.projects__circle {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: black;
  border-radius: 50%;
  margin: 0 20px;
}
.projects__circle--0 {
  height: 25px;
  width: 25px;
}
.projects__circle--1 {
  height: 20px;
  width: 20px;
}
.projects__circle--2 {
  height: 15px;
  width: 15px;
}
.projects__container {
  height: 420px;
  width: 1535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.projects__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 5vw 0;
}
.projects__h2 {
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 100px;
}
.projects__h2--strong {
  font-size: 100px;
  font-family: "abril fatface";
}
.projects__h3 {
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
  width: 720px;
}
.projects__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  height: 60px;
}
.projects__img {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
}
.projects__img--netlify {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
  height: 50px;
  width: 50px;
}
.projects__img:hover {
  height: 60px;
  width: 60px;
}
.projects__infobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 720px;
  height: 420px;
}
.projects__p {
  font-weight: 400;
  width: calc(100% - 40px);
}
.projects__project {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1535px;
  height: 420px;
}
.projects__screenshot {
  overflow: hidden;
  min-width: 718px;
  height: 418px;
  pointer-events: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  -o-object-fit: fill;
     object-fit: fill;
  margin-right: 95px;
}
.projects__widget {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 48px;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
}
.projects__widget:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.projects__widget:active {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-weight: 400;
  color: white;
  background-color: #000000;
}